.book_box {
    border: 6px solid #007bff;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
}

.top_nav_link {
    display: inline-block;
}

.books_container {
    display: inline;
}


