html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

div {
    display: block;
}

* {
    box-sizing: border-box;
}

.landing {
    margin-left: -5%;
    margin-right: -5%;
    width: 110%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom-left-radius: 50% 8%;
    border-bottom-right-radius: 50% 8%;
    background: rgb(22, 82, 240);
}

.topnavbar {
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 24px;
}

.flexnav {
    display: flex;
    flex-direction: row;
}

.mid {
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 488px;
    padding: 35px 24px 0px;
}

.box {
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 24px;
}